@use postcss-simple-vars;
@use postcss-nested;

/* Colors */
$materia-color-primary: hsl(231, 48%, 48%);
$materia-color-blue: hsl(207, 90%, 54%);
$white-hsl: 0, 0%, 100%;
$materia-color-primary-hs: 231, 48%;
$html-background: linear-gradient(315deg, hsl($materia-color-primary-hs, 30%) 0%, hsl($materia-color-primary-hs, 15%) 50%) fixed hsl($materia-color-primary-hs, 15%);
$materia-color-body-text-inverted-hsl: 0, 0%, 79%;
$materia-color-body-text-inverted: hsl($materia-color-body-text-inverted-hsl);
$placeholder-text-color: hsla($materia-color-body-text-inverted-hsl, 0.3);
$checkmark-background-color: hsla($materia-color-body-text-inverted-hsl, 0.3);
$checkmark-background-color-hover: hsla($materia-color-body-text-inverted-hsl, 0.45);

/* Dimensions */
$container-max-width: 600px;
$checkmark-size: 1em;
$checkable-padding-left: calc($checkmark-size * 1.5);
$checkmark-checked-center-color: hsl($white-hsl);
$radio-checked-center-size: calc($checkmark-size * 0.4);
$checkbox-checked-center-height: calc($checkmark-size * .75);
$checkbox-checked-center-width: calc($checkbox-checked-center-height / 2);
$checkbox-checked-center-top: 0;
$checkbox-checked-center-left: calc(50% - ($checkbox-checked-center-width / 2));
$checkbox-check-border-width: 2px;

/* #fcc_test_suite_wrapper {
  display: none;
} */

html, body { height: 100%; }

html {
  background: $html-background;
}

.section {
  @media screen and (max-width: $container-max-width) {
    padding: 0;
  }
}

.container {
  max-width: $container-max-width;
}

.box {
  background: hsla($white-hsl, .1);
  box-shadow: inset 0 0 200px hsla($white-hsl, .05);
}

.title, .subtitle {
  filter: invert(100%);
}

.field > .label {
  color: $materia-color-body-text-inverted;
  margin: 0;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.input, .select select, .textarea {
  background: transparent;
  color: $materia-color-body-text-inverted;

}

.input, .textarea {
  &::placeholder { 
    color: $placeholder-text-color; 
  }
}

select:invalid {
  color: $placeholder-text-color;
}

option[value=""][disabled] {
  display: none;
}

.field-checkable-group, .textarea {
  margin-top: 0.5em;
}

.field-checkable-group {
  padding: 0 .3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: .5em;

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .radio, .checkbox {
    margin: 0;
  }
}

.radio, .checkbox {
  display: block;
  padding-left: $checkable-padding-left;
  margin: 0;

  input, span {
    display: block;
  }
  
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $materia-color-blue;
      &:after {
        display: block;
      }
    }
  }

  &:hover {
    input ~ .checkmark {
      background-color: $checkmark-background-color-hover;
    }

    input:checked ~ .checkmark {
      background-color: $materia-color-blue;
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: $checkmark-size;
    width: $checkmark-size;
    background-color: $checkmark-background-color;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .checkable-label-text {
    filter: invert(100%);
  }
}

.radio .checkmark {
  border-radius: 50%;
  &:after {
    background: $checkmark-checked-center-color;
    width: $radio-checked-center-size;
    height: $radio-checked-center-size;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.checkbox .checkmark {
  border-radius: 4px;
  &:after {
    top: $checkbox-checked-center-top;
    left: $checkbox-checked-center-left;
    width: $checkbox-checked-center-width;
    height: $checkbox-checked-center-height;
    border: solid $checkmark-checked-center-color;
    border-width: 0 $checkbox-check-border-width $checkbox-check-border-width 0;
    transform: rotate(45deg);
  }
}

